/*=============== Fonts ====================================================================================================================================================================*/

@font-face {
  font-family: "DmSerif";
  font-display: swap;
  src: url("../fonts/DmSerif400.woff") format("woff"), url("../fonts/DmSerif400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DenkOne";
  font-display: swap;
  src: url("../fonts/DenkOne400.woff") format("woff"), url("../fonts/DenkOne400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SegoeUI";
  font-display: swap;
  src: url("../fonts/SegoeUI400.woff") format("woff"), url("../fonts/SegoeUI400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SegoeUI";
  font-display: swap;
  src: url("../fonts/SegoeUI600.woff") format("woff"), url("../fonts/SegoeUI600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SegoeUI";
  font-display: swap;
  src: url("../fonts/SegoeUI700.woff") format("woff"), url("../fonts/SegoeUI700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*=============== /Fonts ====================================================================================================================================================================*/

/*=============== Nullstyle ====================================================================================================================================================================*/

* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  line-height: 22px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a,
button,
input[type=submit] {
  display: inline-block;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: 400;
}

li {
  list-style-type: none;
}

/*=============== /Nullstyle ====================================================================================================================================================================*/

/*=============== Options ====================================================================================================================================================================*/

body {
  font-family: "SegoeUI";
}

.page {
  width: 100%;
  height: 100%;
}

.page-wrapper {
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1 1 auto;
}

.main > * {
  position: relative;
  z-index: 1;
}

.container {
  max-width: 1245px;
  margin: 0 auto;
  padding: 0 15px;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg > img {
  display: none;
}

/*=============== /Options ====================================================================================================================================================================*/

/*=============== Common Styles ====================================================================================================================================================================*/

input,
button {
  transition: box-shadow 0.2s ease 0s;
}

input:focus,
button:focus {
  box-shadow: inset 0px 0px 3px #009394;
}

._title {
  font-family: "DmSerif";
  font-size: 47px;
  line-height: 52px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  font-size: 46px;
  line-height: 52px;
}

._text {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
}

._button {
  background: #2a3950;
  border-radius: 6px;
  padding: 8px 33px;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  transition: all 0.3s ease 0s;
  border: 2px solid #fff;
}

._button:hover {
  transform: translateY(-2px);
}

._button:active {
  transform: scale(0.95);
}

[class^=icon-]::after,
[class*=" icon-"]::after {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow::after {
  content: "\f004";
}

.animLeft,
.animBottom,
.animRight {
  opacity: 0;
  transition: all 0.5s ease 0s;
}

.animLeft {
  transform: translateX(-100px);
}

.animBottom {
  transform: translateY(40px);
}

.animRight {
  transform: translateX(100px);
}

.animLeft._active,
.animBottom._active,
.animRight._active {
  transform: translate(0) !important;
  opacity: 1 !important;
}

.preloader {
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease 0s, visibility 0s ease 0s;
}

.preloader._active {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
}

.preloader p {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 2px;
}

.ellipses {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 50px;
}

.ellipses div {
  position: absolute;
  top: 19px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.ellipses div:nth-child(1) {
  left: 8px;
  -webkit-animation: ellipses1 0.6s infinite;
  animation: ellipses1 0.6s infinite;
}

.ellipses div:nth-child(2) {
  left: 8px;
  -webkit-animation: ellipses2 0.6s infinite;
  animation: ellipses2 0.6s infinite;
}

.ellipses div:nth-child(3) {
  left: 32px;
  -webkit-animation: ellipses2 0.6s infinite;
  animation: ellipses2 0.6s infinite;
}

.ellipses div:nth-child(4) {
  left: 56px;
  -webkit-animation: ellipses3 0.6s infinite;
  animation: ellipses3 0.6s infinite;
}

@-webkit-keyframes ellipses1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ellipses1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes ellipses3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes ellipses3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@-webkit-keyframes ellipses2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

@keyframes ellipses2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

/*=============== /Common Styles ====================================================================================================================================================================*/

/*=============== Pointer ====================================================================================================================================================================*/

@media (max-width: 1215px) {
  ._title {
    font-size: calc(30px + 16 * ((100vw - 320px) / 895));
  }

  ._title {
    line-height: calc(38px + 14 * ((100vw - 320px) / 895));
  }
}

@media (pointer: fine) {
  a,
  button,
  label,
  input[type=submit],
  input[type=checkbox],
  .reset,
  ._isButton {
    cursor: pointer !important;
  }
}

@media (pointer: coarse) {
  a,
  button,
  label,
  input[type=submit],
  input[type=checkbox],
  .reset,
  ._isButton {
    cursor: default !important;
    -webkit-tap-highlight-color: transparent;
  }
}